@tailwind base;
@tailwind components;
@tailwind utilities;
.split {
  /* height: 100%; */
  /* width: 50%; */
  position: absolute;
  z-index: 10;
  bottom: 0;
  overflow-x: hidden;
  /* padding-top: 20px; */
}

.left {
  /* width: 40%; */
  left: 0;
}

.right {
  /* width: 60%; */
  right: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in input number for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


/* .toast-container {
}

.Toastify__toast {
  @apply fixed top-2 right-2 z-50;

  @apply bg-red-500 text-white rounded-lg p-4 shadow-md;
  @apply flex items-center justify-between;
}

.Toastify__progress-bar {
  @apply w-full h-2 bg-gray-300 rounded-lg;
  @apply transition-all duration-300;
}

.Toastify__close-button {
  @apply text-white text-lg font-semibold;
  @apply hover:text-gray-200;
} */
/* add to the split screen if want to center items in each screen */
/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }  */
